{% extends 'base.html' %}

{% block title %}
    Delete Post
{% endblock title %}


{% block content %}
    
    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class="alert alert-warning" role="alert">
                    <div class="header">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}  
    {% endif %}

    
    {% if not messages %}
    <section class="vh-100 m-3">
        <div class="d-flex justify-content-center mb-5">
            <div class="col-xl-20 offset-xl-1 shadow p-3 mb-5 bg-white rounded">               
                <h3 class="modal-title">Delete Post</h3>
                <hr>
                <form action="" method="post" class ="form-group bg-white">
                    {% csrf_token %}
                    <p class="bg-white">Are you sure you want to delete the post?</p>
                    <button type="submit" class="btn btnModal">Delete</button>
                </form>   
            </div>
        </div>
    </section>
    {% endif %}
        

        
{% endblock content %}
    
    