{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href={% static 'posts/post.css' %}>
    <script src={% static 'posts/post.js' %} defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock scripts %}

{% block title %}
    home
{% endblock title %}

{% block content %}
<div class="container pl-pr-2">
    <div class="row">
        <div class="col-8">
            {% for obj in post %}
            <div class="card">
                <div class ="card-title clearfix ml-4 mt-4">
                    <img class="img-fluid avatar mr-3" alt="Responsive image" src={{obj.author.profilePic.url}}>

                    {{obj.author.user.name}} - {{obj.created|timesince}} ago
             
                    {% if request.user == obj.author.user %}
                        <a href="{% url 'posts:post-delete' obj.pk %}"><button class="btn btn-title float-right ml-3 mr-4">Delete</button></a>
                        <a href="{% url 'posts:post-update' obj.pk %}"><button class="btn btn-title float-right ml-3">Update</button></a>
                    {% endif %}
                </div>
                {% if obj in written %}
                    <img src={{obj.picture.url}} class="card-img-top" alt="...">
                {% elif obj in video %}
                    <video controls autoplay muted id="vid">
                        <source src={{obj.video.url}} type="video/mp4"></source>
                    </video>
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title-caption">{{obj.caption}}</h5>
                    <p class="card-text">{{obj.tags}}</p>
                    <!-- Like -->
                    <div class="card-body-likes float-right">
                        <form action="{% url 'posts:like-post-view' %}" method="POST" class="like-form" id="{{obj.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{obj.id}}>
        
                                <button type="submit" class="btn like-btn{{obj.id}}" style="background:transparent;">
                                    <i class="fa-solid fa-heart"></i>
                                    {% if profile not in obj.liked.all %}
                                        Like
                                    {% else %}
                                        Unlike
                                    {% endif %}
                                </button>
    
                                <div class="ui grid">
                                    <div class="column">
                                        <div class="like-count{{obj.id}}"> {{obj.num_likes}} </div>
                                    </div>
                                    <div class="column">
                                        Likes
                                    </div>
                                </div> 
                        </form>
                    </div>
                    <!-- Comments -->
                    <div class ="card-body-comment">
                        <i class="fa-solid fa-comment ml-5"></i>
                        <span> {{ obj.num_comment}} comments</span>
                        <div class="extra content">
                            <button class="btn cmtbutton mb-5" style="margin-bottom:5px !important;">show / hide comments</button>
                            <div class="comment-box" style="display: none !important;">
                                {% if obj.comment_set.all %}
                                    {% for c in obj.comment_set.all %}
                                        <div class="segment mb-5" style="margin-bottom:5px !important;">
                                            <img class="img-fluid cmtavatar p-2" src={{c.user.profilePic.url}}>
                                            <span>{{c.user}}</span>
                                            <div class='mt-2'>{{ c.body }}</div>
                                            <hr>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <form action="" method="POST" class="form-group">
                            {% csrf_token %}
                            {{comment_form.as_p}}
                            <input type ="hidden" name="post_id" value={{obj.id}}>
                            <button type="submit" class="btn btnModal" name="comment_form_submit">Comment</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="col-4">
            <!-- Button trigger Post Modal -->
            <button type="button" class="btn btn-post mt-3" data-toggle="modal" data-target="#exampleModal">
                Add a Post
            </button>

            <!-- Friend Suggestions -->
            <div class="card suggestions mt-5">
                <div class="card-body">
                    {{profile.get_Petfollow_suggestions}}<br>
                    {{profile.get_Vetfollow_suggestions}}<br>
                    {{profile.get_Storefollow_suggestions}}<br>
                    {{profile.get_PetLoverfollow_suggestions}}<br><br>

                </div>
            </div>

            <!-- Post Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create a Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" method="POST" class ="form-group" enctype="multipart/form-data">
                            <div class="modal-body">
                                {% csrf_token %}
                                {{post_form.as_p}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btnModal" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btnModal"  name="post_form_submit">Add</button>
                            </div>
                            {% if post_added %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    Post Added
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
