{% extends 'base.html' %}
{% load static %}

{% block scripts %}    
    <link rel="stylesheet" href={% static 'posts/post.css' %}>
    <script src={% static 'posts/post.js' %} defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock scripts %}

{% block title %}
    home
{% endblock title %}

{% block content %}
    {% comment %} <div id ="test">
        {{hello}}  
    </div>  {% endcomment %}

    <!--display posts-->  
<div class="container">
    <div class="row">
        <div class="col-8">
            {% for obj in feed %}
                    <div class="card">  
                        <div class ="card-title">
                            <img class="img-fluid mb-3" alt="Responsive image" src={{obj.author.avatar.url}}>
                            {{obj.author.name}}
                        </div>
                        {% if obj in written %}
                            <img src={{obj.picture.url}} class="card-img-top" alt="...">
                        {% elif obj in video %}
                            <video ontrols>
                                <source src={{obj.video.url}} type="video/mp4"></source>
                            </video>
                        {% endif %}                       
                        <div class="card-body">{{obj.caption}}</div>
                        <div class="card-body-reactions">
                            <a href="#"><img src="{% static "images/love.png"  %}" class="reactions" style="height: 40px; width:40px;"></a>
                            <a href="#"><img src="{% static "images/angry.png"  %}" class="reactions" style="height: 40px; width:40px;"></a>
                            <a href="#"><img src="{% static "images/surprise.png"  %}" class="reactions" style="height: 40px; width:40px;"></a>
                            <a href="#"><img src="{% static "images/sad.png"  %}" class="reactions" style="height: 40px; width:40px;"></a>
                            <a href="#"><img src="{% static "images/sick.png"  %}" class="reactions" style="height: 40px; width:40px;"></a>
                        </div>
                    </div>
                    <br>
                {% endfor %}            
        </div>
        <div class="col-4">
                        <!-- Button trigger modal -->
            <button type="button" class="btn btnPost" data-toggle="modal" data-target="#exampleModal">
                Add a Post
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form action="" method="POST" class ="form-group" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{post_form.as_p}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btnModal" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btnModal">Add</button>
                        </div>
                    </form>
                    
                    </div>
                </div>
            </div>
            <div class ="suggestions">
                {{profile.get_Petfollow_suggestions}}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    