<div class="card m-3" style="width: 28rem;">
    <div class ="card-title clearfix p-2">
        <img class="img-fluid avatar mr-3" alt="Responsive image" src={{post.author.profilePic.url}}>
        {{post.author.user.name}} - {{post.created|timesince}} ago
    </div>
        {% if post.picture %}
            <img src="{{post.picture.url}}" class="img-vet" alt="...">
        {% endif %}
        {% if post.video %}
            <video controls autoplay muted id="vid">
                <source src={{post.video.url}} type="video/mp4"></source>
            </video>
        {% endif %}
    <div class="card-body">
        <h6 class="card-title">{{post.caption}}</h5>
        <p class="card-tags vetTags">{{post.tags}}</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'profiles:profile-detail-view' post.author.slug %}" class="btn productView" style="color:#fff !important;">Sniff Profile</a>
    </div>
</div>