{% extends 'base.html' %}
{% block title %}
    pet profile
{% endblock title %}

{% block content %}
<p>
    <b>My Posts</b>: 
    {{profile.get_user_posts}}
</p>

<p>
    <b>Number of Posts</b>: 
    {{profile.num_posts}}
</p>

<p>
    <b>Following Profiles</b>: 
    {{profile.get_following}}
</p>

<p>
    <b>Following Profiles List</b>: 
    {{profile.get_following_list}}
</p>
<p>
    <b>Following Count</b>: 
    {{profile.get_following_count}}
</p>
<p>
    <b>Followers List</b>: 
    {{profile.get_followers}}
</p>
<p>
    <b>Followers Count</b>: 
    {{profile.get_followers_count}}
</p>
<p>
    <b>Feed Posts List</b>: 
    {{profile.feed_posts}}
</p>

<p>
    <b>Pet Follow Suggestions</b>: 
    {{profile.get_Petfollow_suggestions}}
</p>
    
<p>
    <b>Veterinarian Follow Suggestions</b>: 
    {{profile.get_Vetfollow_suggestions}}
</p>

<p>
    <b>Store Follow Suggestions</b>: 
    {{profile.get_Storefollow_suggestions}}
</p>

<p>
    <b>PetLover Follow Suggestions</b>: 
    {{profile.get_PetLoverfollow_suggestions}}
</p>
{% endblock content %}





