{% extends 'base.html' %}

{% block title %}All Profiles{% endblock title %}

{% block content %}

{% if is_empty %}
    <h1> No Profiles </h1>
{% endif %}

{% for obj in object_list %}
    <div class='segment'>
        <div class='grid'>
            <div class='row'>
                <div class="col-3">
                    <img class="img-fluid avatar mr-3" alt="Responsive image" src={{obj.avatar.url}}>
                </div>
                <div class="col-9">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    
{% endblock content %}