{% extends 'base.html' %}

{% block title %}All Profiles{% endblock title %}

{% block content %}
{% if is_empty %}
    <h4>No Profiles</h4>
{% endif %}

{% for obj in qs %}
    <div class="card cardList mb-3 shadow rounded">
        <div class="grid cardList gridList">
            <div class="row cardList justify-content-center">
                <div class="col-3 cardList">
                    <img class="img-fluid m-2" alt="Responsive image" src={{obj.profilePic.url}}>
                </div>
                <div class="col-8 cardListCol">
                    <h5 class="card-title users_name mt-2">{{obj.user.name}}</h5>
                    {% if obj.user.type == 'PET' %}
                        <div class="alert alert-light" role="alert">
                            A Pet Profile
                        </div>
                    {% endif %}
                    {% if obj.user.type == 'VET' %}
                        <div class="alert alert-light" role="alert">
                            A Veterinarian Profile
                        </div>
                    {% endif %}
                    {% if obj.user.type == 'STORE' %}
                        <div class="alert alert-light" role="alert">
                            A Store Profile
                        </div>
                    {% endif %}
                    {% if obj.user.type == 'PET_LOVER' %}
                        <div class="alert alert-light" role="alert">
                            A Pet Lover Profile
                        </div>
                    {% endif %}
                    <p class="bg-light">{{obj.bio}}</p>
                </div>
                <div class="col-1 cardListCol">
                    <a href="#" class="btn btnModal seeProfile mt-3 mb-3">See Profile</button></a>
                    
                    {% if obj.user not in request_receiver and obj.user not in request_sender %}
                        <form action="{% url 'profiles:send-request' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            
                            <button type="submit" class="btn btn-success">
                                <i class="fa-solid fa-plus"></i>
                                Add to Friends
                            </button>
                        </form>
                    {% endif %}

                    {% if obj.user in request_receiver and request.user not in obj.following.all %}
                        <button class="btn waitingBtn" disabled>
                            <i class="fa-solid fa-paw"></i>
                            Waiting for Approval
                        </button>
                    {% endif %}
                    
                    {% if request.user in obj.following.all %}
                        <form action="{% url 'profiles:remove-friend' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="btn btn-remove">
                                <i class="fa-solid fa-minus"></i>
                                Remove from Friends
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>    
        </div>
    </div>
{% endfor %}

{% endblock content %}