<div class="orderhead m-3 p-3">
    <table class="suggestFriends">
        <tr>
          <td rowspan="2" class="align-baseline"><img class="img-fluid vetAvatar" alt="Responsive image" src={{vet.profilePic.url}}></td>
          <td class="align-baseline" rowspan="3"><h6 class="card-title suggestStore">{{vet.user.name}}</h6></td>
          <td rowspan="2" class="align-baseline">
            <a href="{% url 'profiles:profile-detail-view' vet.slug %}"class="btn productView" style="color:#fff !important;">
              <i class="fa-solid fa-user-doctor suggestVet"></i>
              View Doctor
            </a>
          </td>
        </tr>   
    </table>
</div>