{% comment %} <div class="card cardList shadow rounded"> {% endcomment %}
    <div class="grid profilesGrid shadow">
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="img-fluid m-2" alt="Responsive image" src={{profile.profilePic.url}}>
            </div>
            <div class="col-8">
                <h5 class="card-title mt-2">{{profile.user.name}}</h5>
                <a href="{% url 'profiles:profile-detail-view' profile.slug %}"><button class="btn productView" style="color:#fff !important;">See Profile</button></a>
            </div>
        </div>
    </div>
{% comment %} </div> {% endcomment %}