.btn-post{
    color: #fff !important;
    cursor: pointer;
    background: linear-gradient(-90deg, #EE7752, #ee9d99) !important;
    width: fit-content;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-8 div{
    background-color: #fff !important;
    border-radius: 25px !important;
    margin: 10px;
}
.avatar{
    height: 50px;
    width: 53px !important;
    border-radius: 50%;
    background-color: #fff !important;
}
.card-title{
    position: relative;
}
.btn-title{
    background: rgb(233, 232, 232) !important;
}
.card-title-caption{
    background-color: #fff !important;
}
.card-text{
    background-color: #fff !important;
    color:  #EE7752 !important;
}
.reactions{
    background-color: #fff !important;
}
.segment img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff !important;
    margin: 3px !important;
}
.modal-update{
    border-radius: 15px;
    background: #fff !important;
    width: fit-content;
    align-self: center;
}
.comment-box{
    background: #fff !important;
}
.form-group{
    background: #fff !important;
}
.likeIcon{
    background: #FFF !important; 
}
.numbers{
    background: #FFF !important; 
}
.card-body-likes{
    background: #FFF !important;   
}
.friendPic{
    border-radius: 25% !important;
}
.like-form{
    background: #fff !important;
}
.like-btn{
    background: #fff !important;
}
.modal-title{
    background: #fff !important;
}
.modal-header{
    background: #fff !important;

}
.modal-content{
    background: #fff !important;
}
.form-group{
    background: #fff !important;
}
.modal-body{
    background: #fff !important;
}
.form-row{
    background: #fff !important;
}
.form-control{
    background: #fff !important;
}
.likeBtn{
    background: #ee9d99 !important;
    color: #fff !important;
}
.avatar-img{
    width: 70px !important;
    height: 70px !important;
    border-radius: 25px !important;
    padding: 10px;
    margin: 5px !important;
}
.ViewPros h6{
    font-weight: bold;
    padding-top: 10px !important;
}
.viewPro :hover{
    color:  #EE7752 !important;
}
.suggestIcon{
    color:  #EE7752 !important;
}
.suggestName{
    width: 120px !important;
}
.sugesttitle{
    text-align: center !important;
    color: #221c1c !important;
    font: 600 normal 1.5em ;
    text-shadow:2px 2px #b7b7b7, 3px 5px #ffffff;
}
