body{
    background: #fafafa !important;
}
.navbar {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 6px 6px -6px #999;
    box-shadow: 0 3px 3px -6px #999;
}
.nav-link{
    margin: 3px;
    color:#eb6168 !important;

}
.nav-item :hover{
    color:#f8bf7a !important;
}
li.nav-item{
    margin-left: 30px;
}
a.nav-link{
    font-weight: bold;
}
.has-search {
    padding-left: 50px;
    align-items: center;
}

.nav-form{
    color: #221c1c !important;
}

.navbar-brand{
    color: #221c1c !important;
}