.btn-post{
    color: #fff !important;
    cursor: pointer;
    background: linear-gradient(-90deg, #EE7752, #ee9d99) !important;
    width: fit-content;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-8 div{
    background-color: #fff !important;
    border-radius: 25px !important;
    margin: 10px;
}
.avatar{
    height: 50px;
    width: 53px !important;
    border-radius: 50%;
    background-color: #fff !important;
}
.card-title{
    position: relative;
}
.btn-title{
    background: rgb(233, 232, 232) !important;
}
.card-title-caption{
    background-color: #fff !important;
}
.card-text{
    background-color: #fff !important;
}
.reactions{
    background-color: #fff !important;
}
.segment img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff !important;
    margin: 3px !important;
}
.modal-update{
    border-radius: 15px;
    background: #fff !important;
    width: fit-content;
    align-self: center;
}
.comment-box{
    background: #fff !important;
}
.form-group{
    background: #fff !important;
}
.likebtn{
    background: #FFF !important;
    color: #EE7752 !important;
}
.likeIcon{
    background: #FFF !important; 
}
.numbers{
    background: #FFF !important; 
}
.card-body-likes{
    background: #FFF !important;   
}