.productView{
    cursor: pointer;
    background: #e56554 !important;
    color: white !important;
}
.StoreProduct{
    transition: transform 0.2s ease !important;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;
}
.StoreProduct:hover {
    transform: scale(1.1) !important;
}
.subnav a{
    background-color:#221c1c !important;
    color: #fff !important;
    border-radius: 5px !important;
    transition: transform 0.2s ease !important;
}
.subnav a:hover{
    background-color: #fff !important;
    color: #221c1c !important;
    border-color: #221c1c !important;
    border-width: 5 !important;
    transform: scale(1.1) !important;
}
h2 {
    text-align: center;
    color: #e56554 !important;
    font: 700 normal 2.5em 'tahoma';
    text-shadow:2px 2px #b7b7b7, 3px 5px #ffffff;
  }
.imgCol img{
    width: 75px !important;
    height: 75px !important;
}
.formSearch{
    background: transparent!important;
}
.boxContainer{
    margin: auto;
    position: relative;
    font: 700 normal 2.5em 'tahoma';
}
.fa-search{
    margin: auto !important;
    color: #221c1c !important;
}
.fa-search:hover{
    color: #e56554 !important;
}
.searchInput{
    width: 90% !important;
    background: transparent !important;
    border-radius: 50px !important;
    padding-left: 25px;
}
.productThumb{
    height: 300px !important;
    width: 286px !important;
}
.deatilTitle{
    text-align: left;
    color: #221c1c !important;
    font: 700 normal 2.5em 'tahoma';
    text-shadow:2px 2px #b7b7b7, 3px 5px #ffffff;
  }
.deatilPrice{
    text-align: left;
    color: #e56554 !important;
}
.deatilTable{
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.2) !important;
    padding: 15px !important;
}
.badgeLink a{
    background-color:#201616 !important;
    color: #fff !important;
    border-radius: 5px !important;
    transition: transform 0.2s ease !important;
    padding: 10px !important;
}
.badgeLink a:hover{
    transform: scale(1.1) !important;
}
.similarProducts h3{
    text-align: left !important;
    color: #e56554 !important;   
    text-shadow:1px 1px #201616, 3px 5px #ffffff;
}
.catRow h3{
    margin: auto !important;
    color: #e56554 !important;   
    text-shadow:1px 1px #201616, 3px 5px #ffffff;
}
.postCard{
    height: 320px !important;
    width: 300px !important;
    transition: transform 0.2s ease !important;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;
}
.postCard:hover{
    transform: scale(1.1) !important;
}
.postSearch{
    height: 255px !important;
    width: 300px !important;
}
.clearfix a:hover{
    text-decoration: none !important;
}
.searchTerm h3{ 
    text-align: center !important;
    color: #221c1c !important;
    font: 700 normal 2.5em 'tahoma';
    text-shadow:2px 2px #b7b7b7, 3px 5px #ffffff;
}
.searchTitle h3{
    margin: auto !important;
    color: #e56554 !important;   
    text-shadow:1px 1px #201616, 3px 5px #ffffff;
}