.productView{
    cursor: pointer;
    background-color: #f1896a !important;
    color: #fff !important;
}
.StoreProduct{
    transition: transform 0.2s ease !important;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;
}
.StoreProduct:hover {
    transform: scale(1.1) !important;
  }