{% extends 'base.html' %}
{% block title %}
User Login
{% endblock title %}

{% block content %}
    <h1>Login</h1>
    <div class="container">
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {{login_form.as_p}}
            <button type="submit" class="btn btnModal">Login</button>

            {% for error in login_form.errors %}
                <p>{{error}}</p>
            {% endfor %}

            
            {% if login_form.non_field_errors %}
                <p>{{login_form.non_field_errors}}</p>
            {% endif %}
                
        </form>
    </div>
{% endblock content %}