{% extends 'base.html' %}
{% block title %}
Search Veterinarians
{% endblock title %}

{% block content %}
<div class="section p-5 m-3">
    <div class="row searchTerm m-3">
      <a href="{% url 'users:vet-view' %}" class="btn backStore">
        <i class="fa-solid fa-user-doctor suggestVet"></i>
        Back to the Veterinarian
      </a>
      <h3 class="pl-5"><i class="fa-solid fa-magnifying-glass"></i> "{{ query }}" </h3>
    </div>
    <div class="row searchTitle"><h3 class="m-3">Profiles: </h3><br/></div>
    <div class="row mt-4">
      {% for vet in profiles %}
        {% include 'profiles/search_list.html' %} 
      {% endfor %}
    </div>
    <hr>
    <div class="row searchTitle"><h3 class="m-3">Posts: </h3><br/></div>
    <div class="row mt-4">
      {% for post in posts %}
        {% include 'posts/post_list.html' %}
      {% endfor %}
    </div>
</div>
{% endblock content %}