{% extends 'base.html' %}
{% block title %}
Product View
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row m-3">
      <div class="col-sm-6">
        {% if product.image %}
            <figure class="figure">
                <img src="{{product.image.url}}" class="figure-img img-fluid rounded">
            </figure>
        {% endif %} 
      </div>
      <div class="col-sm-6">
        <h1 class='deatilTitle'>{{product.title}}</h1>
        <h3 class='deatilPrice mb-5'>$ {{product.price}}</h3>
        <table class="table table-borderless deatilTable m-3">
            <tbody>
              <tr>
                <th scope="row">Description: </th>
                <td>{{product.description}}</td>
              </tr>
              <tr>
                <th scope="row">Store: </th>
                <td class="badgeLink"><a href="{% url 'profiles:profile-detail-view' product.store.slug %}" class="badgeLink">{{product.store.user.name}}</a></td>
              </tr>
              <tr>
                <th scope="row">Category: </th>
                <td colspan="2" class="badgeLink"><a href="{% url 'products:category' product.category.slug %}" class="badgeLink">{{product.category}}</a></td>
              </tr>
            </tbody>
          </table>
          
          {% if messages %}
            {% for message in messages %}
              <div class="notification">{{message}}</div>
            {% endfor %}
          {% endif %}
          <form method="post" action=".">
            {% csrf_token %}
            <div class="input-group mb-3 ml-3">
              <input type="number" name="quantity" value="1" class="input form-control" min="1">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary">Add to Cart</button>
              </div>
            </div>
          </form>  
      </div>
    </div>
    <hr>
    <div class="row similarProducts">
        <div class='col'>
            <h3 class='subtitle mb-3'>Similar Products</h3>
        </div>
    </div>
    <div class="row">
        {% if similar_Products %}
            {% for product in similar_Products %}
                {% include 'products/list_item.html' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}