.btnModal{
    color: #fff !important;
    cursor: pointer;
    background-color: #f1896a !important;
}
.alert-success{
    border-color: #f1896a;
    color: #f1896a !important;
    cursor: pointer;
    background-color: #fff !important;
    height:fit-content;
    border-radius: 4px;
}
.close{
    background-color: #fff !important;
}
.content img{
    height: 250px;
    width: 250px;
}
#exampleModal {
    background-color:rgba(0, 0, 0, 0.75) !important;
}
.modal-title{
    color: #f1896a !important;
}
.modal-dialog{
    border-radius: 25px;
}