.btnModal{
    color: #fff !important;
    cursor: pointer;
    background-color: #f1896a !important;
}
.btnUpdate{
    color: #fff !important;
    cursor: pointer;
    background: linear-gradient(-90deg, #EE7752, #ee9d99) !important;
    width: 150px;
    border-radius: 50px;
    margin-left: 25px;
}
.alert-success{
    border-color: #f1896a;
    color: #f1896a !important;
    cursor: pointer;
    background-color: #fff !important;
    height:fit-content;
    border-radius: 4px;
}
.close{
    background-color: #fff !important;
}
.content img{
    height: 250px;
    width: 250px;
}
#exampleModal {
    background-color:rgba(0, 0, 0, 0.75) !important;
}
.modal-title{
    color: #f1896a !important;
}
.modal-dialog{
    border-radius: 25px;
}
.container{
    padding-right: 15px;
    margin-right: 10px;
}
.bootstrap-select{
    border-width: 3px;
    border-color: #b4d7fd !important;
    border-radius: 2px;
}

.card-body img{
    height: 200px;
    width: 200px;
}
.row a{
    margin-right: 10px;
    align-items: center;
    color: #000 !important;
    font-size: medium;
}
.line{
    border:none;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #999;
	box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
}
.badge{
    color: #000 !important;
}
.col-3{
    align-items: center !important;
    align-content: center !important;
}
.col-3{
    background-color: #fff !important;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.col-9{
    background-color: #fff !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btnBorder{
    border-color: #f1896a!important;
    border-width: 3px;
}
.btnForm{
    background-color: #fff !important;
}
