.btnModal{
    color: #fff !important;
    cursor: pointer;
    background-color: #f1896a !important;
}
.btnUpdate:hover{
    color: #000 !important;
    cursor: pointer;
    border-color: #EE7752 !important;
    background: transparent !important;
}
.fa-paw{
    background: transparent !important;
}
.btnUpdate{
    background: linear-gradient(-90deg, #EE7752, #ee9d99) !important;
    color: #fff !important;
    width: 150px;
    margin-left: 25px;
}
.alert-success{
    border-color: #f1896a;
    color: #f1896a !important;
    cursor: pointer;
    background-color: #fff !important;
    height:fit-content;
    border-radius: 4px;
}
.close{
    background-color: #fff !important;
}
.content img{
    height: 250px;
    width: 250px;
    background: transparent !important;
}
#exampleModal {
    background-color:rgba(0, 0, 0, 0.75) !important;
}
.modal-title{
    color: #f1896a !important;
}
.modal-dialog{
    border-radius: 25px;
}
.container{
    padding-right: 15px;
    margin-right: 10px;
}
.bootstrap-select{
    border-width: 3px;
    border-color: #b4d7fd !important;
    border-radius: 2px;
}

.card-body img{
    height: 200px;
    width: 200px;
}
.row a{
    margin-right: 10px;
    align-items: center;
    color: #000 !important;
    font-size: medium;
}
.line{
    border:none;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #999;
	box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
}
.badge{
    color: #000 !important;
}
.col-3{
    align-items: center !important;
    align-content: center !important;
}
.col-3{
    background-color: #fff !important;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.col-9{
    background-color: #fff !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btnBorder{
    border-color: #f1896a!important;
    border-width: 3px;
}
.btnForm{
    background-color: #fff !important;
}
.cardList{
    background: #fff !important;
    border: none;
    width: 75% !important;
}

.cardList img{
    width: 150px !important;
    background: #fff !important;
    border-radius: 100px  !important;
}
.cardListCol{
    width: max-content !important;
    background: #fff !important;
    margin-bottom: 15px;
    margin-left: auto !important; 
    margin-right: auto !important;
}
.users_name{
    background: #fff !important;
}
.bg-light{
    background: #fff !important;
}
.btn-remove{
    border-color: #EE7752 !important;
    color: #EE7752 !important;
    background: #fff !important;
    width: 200px !important;
}
.btn-success{
    border-color: #000000 !important;
    color: #000000 !important;
    background: #fff !important;
    width: 200px !important;
}
.seeProfile{
    width: 200px !important;
}
.waitingBtn{
    width: 200px !important;
}
form{
    background: #fff !important;
}
.profileRow{
    -webkit-box-shadow: 0 6px 6px -5px #000;
    -moz-box-shadow: 0 6px 6px -5px #000;
    box-shadow: 0 4px 4px -5px #000;
}
.username{
    color: #000 !important;
    text-shadow: #333 !important;
    font-size:x-large !important;
}
.profilename{
    background: #fff !important;
    color: #f1896a !important;
    text-shadow: #333 !important;
    font-size:xx-large !important;
}
.nav-tabs a{
    color: #000 !important;
}
.nav-tabs a:hover{
    color: #f1896a !important;
}
li.active>a{
	color: #f1896a !important;
}

.card-img-gallery {
    width: 18rem !important;
    height: 15vw;
    object-fit: cover;
}

.btn-form{
    background: #fafafa !important;
}
.card-group{
    background: #fff !important;
    border-radius: 25px;
    margin: 25px !important;
    align-content: center !important;
}
.card-gallery{
    margin: 25px !important;
}
.seeProfile{
    color: #fff !important;
}
.card-small-text{
    background: #fafafa !important;
}
.updateProfileRow{
    background: #fff !important;
}
.mb-1{
    background: #fff !important;
}
.content{
    background: #fff !important;
}
.description{
    background: #fff !important;
}
#exampleModal1 {
    background-color:rgba(0, 0, 0, 0.75) !important;
}
.fa-plus{
    color: #fff !important;
    background: transparent !important;
}
.fa-plus:hover{
    color: #000 !important;
}
.productTitle{
    background: transparent !important;
}
.add-pro{
    background: #fff !important;
}
.add-pro-con{
    background: #fff !important;
    width: 75% !important;
}
.profilesGrid{
    transition: transform 0.2s ease !important;
    width: 50% !important;
}
.profilesGrid:hover{
    transform: scale(1.1) !important;
}