@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(207, 203, 203);
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.loginBtn{
    background: #f1896a !important;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;
    color: #fff !important;
}
.offset-xl-1{
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    margin: 10px !important;
    padding: 25px !important;
    border-radius: 1rem !important;
}
.errorMsg{
    color: #ba3939;
    background: #ffe0e0;
    
}
.closeError{
    color: #ba3939;
    background: #ffe0e0;
}
.form-outline{
    background: #FFF !important;
}
.regiLabel{
    background: #FFF !important;
}
.register-block{
    background: #DE6262 !important; 
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262)!important; 
    background: linear-gradient(to bottom, #FFB88C, #DE6262) !important; 
    float:left;
    width:100%;
    padding: auto !important;
}
.registerForm{
    background: #fff !important; 
}
.form{
    background: #fff !important; 
    border-width: 5px !important;
    -webkit-box-shadow: 4px 6px 6px -5px #000;
    -moz-box-shadow: 4px 6px 6px -5px #000;
    box-shadow: 4px 4px 4px -5px #000;
}
.form-group{
    background: #fff !important;
}
.footer{
    background: #fff !important; 
    text-align: center !important;
    margin: auto;
    border-width: 5px !important;
    padding: 20px;
    -webkit-box-shadow: 4px 6px 6px -5px #000;
    -moz-box-shadow: 4px 6px 6px -5px #000;
    box-shadow: 4px 4px 4px -5px #000;
}
.custom-class{
    background: #fff !important; 
}
  
a small{
    background: #fff !important; 
}

.banner-sec{background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}

.login-sec{padding: 50px 30px; position:inherit;}
.reg-sec{padding: 10px 10px; position:inherit;}

#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.aboutcon{
    width: 100% !important;
    margin: auto !important;
}
.carousel-control-prev{
    background: transparent !important;
}
.carousel-control-next{
    background: transparent !important;
}
.carousel-indicators{
    background: transparent !important;
}
.crlIcon{
    background: transparent !important;
}
.iconabout{
    height: 300px !important;
    background: transparent !important;
    color: #fff !important;
}
.carousel-inner{
    border-radius: 25px !important;
}
.carousel-caption{
    background: transparent !important;
}
.captionPara{
    background: transparent !important;
    color: #fff !important;
    text-shadow:1px 1px #201616 !important;
}
.carouselTitle{
    background: transparent !important;
    margin: auto !important;
    color: #000 !important;   
    font-size: 38px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold !important;
    text-shadow:1px 1px #201616 !important;
}
.aboutcon{
    overflow: hidden !important;
    padding: 0 !important;
}
.AboutPost{
    transition: transform 0.2s ease !important;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;
    
}
.aboutBody{
    overflow-y: scroll !important;
}
.AboutPost:hover {
    transform: scale(1.1) !important;
}
.postImg{
    height: 320px !important;
}
.alert-danger{
    border: rgb(110, 18, 18) !important;
    color: #fff !important;
}
.img-vet{
    height: 28rem !important;
}
.vetTags{
    color: #DE6262 !important;
}
.suggestVet{
    background: transparent !important;
}
.vetAvatar{
    width: 100px !important;
    height: 100px !important;
}
